
// switch register link from signin to signup or from signup to signin 
@mixin switch-register {
    color: white;
    font-size: 13px;

    a {
        color: $primary-color;
        text-decoration: underline;
        font-size: 13px; 
    }
}