/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
}

// Brand logo
.header__logo img {
    width: 200px;
    margin-left: 10px;
}

// Profile menu (signin | signup)
.header__menu {
    text-align: right;
    margin-right: 10px;
    position: relative;

    &-profile {
        cursor: pointer;
        color: $primary-color; 
    }

    ul {
        list-style: none;
        display: none;
        position: absolute;
        margin-left: -40px;
    }
}

// Menu links
.header__menu ul li {
    margin: 10px 0px;

    a {
        text-decoration: none;
        color: white;
    }
}

// Menu links hover
.header__menu:hover ul, ul:hover{
    display: block;

    a:hover {
        text-decoration: underline;
    }
}
