
// General styles
* {
    margin: 0px;
    font-family: $primary-font;
}

body {
    background: #032030;

    // background: linear-gradient(13deg, #F2F4F6 18%, #EAE3E3 100%);
    
    // background: -webkit-linear-gradient(13deg, #F2F4F6 18%, #EAE3E3 100%);
    
    // background: -moz-linear-gradient(13deg, #F2F4F6 18%, #EAE3E3 100%);
    
    // background: -o-linear-gradient(13deg, #F2F4F6 18%, #EAE3E3 100%);
    
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='F2F4F6', endColorstr='#EAE3E3',GradientType=1 );
    
    height: 100vh;
}
