/* Search */
.search {
    text-align: center;
    height: 100px;
    padding-top: 115px;

    &__title {
        color: white;
        margin-bottom: 10px;
    }

    &__input {
        width: 70%;
        padding: 10px;
        border: 2px solid black;
        box-shadow: 1px 2px 3px;
        background: transparent;
        
    }
}

.search__input:focus {
 outline: none;
 font-size: 18px;
}
