/* Signup */

// Signup area
.signup {
    @include register-container;
}

// Signup container
.signup__container{
    @include register-template;

    // form inputs
    @include input-template;
}

::placeholder {
    color: $primary-color;
}

input:focus {
    outline: none;
    font-size: 15px;
}

p.signup-signin {
    @include switch-register;
    padding-top: 95px;
}
