/* Signin */

// Signin area
.signin {
    @include register-container;
}

// Signin container
.signin__container{
    @include register-template;
    @include input-template;
    
    h2 {
        color: white;
        padding-bottom: 42px;
    }
}


// .signin--button {
//     @include black-button;
// }

// Forgot password link
.signin__container--form a {
    font-size: 13px;
    text-decoration: none;
    color: white;
    margin: 15px;
    cursor: pointer;
}

// Social media container
.signin__container--social-media {
    display: flex;
    flex-direction: column;
}

// Social medias
.signin--social-media {
    display: flex;
    align-items: center;
    border: 1px solid black;
    margin-bottom: 8px; 
    box-shadow: 2px 2px;
    width: 205px;
    padding-left: 12px;

    a {
        text-decoration: none;
        color: white;
        font-size: 13px;
    }

    img {
        width: 30px;
        height: 30px;
        margin: 3px;
    }
}

// Switch register (from signin to signup)
p.signin_register {
    @include switch-register;
    padding-top: 30px;
}

